{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <div class="confirm-container" style="max-width: 400px; margin: 50px auto; text-align: center;">
    <h2 style="margin-bottom: 20px;">Забыли пароль?</h2>

    <form method="POST">
      <input type="email" name="email" placeholder="Введите Email"
             required style="padding: 10px; width: 100%; margin-bottom: 15px; border-radius: 6px; border: 1px solid #ccc;">

      <button type="submit"
              style="padding: 10px 20px; border: none; background-color: #333; color: white; border-radius: 6px; cursor: pointer;">
        Отправить код
      </button>
    </form>

    <p style="margin-top: 20px; font-size: 14px; color: gray;">
      Мы вышлем вам код на вашу электронную почту.
    </p>
  </div>
{% endblock %}
